# Ignore Terraform state files
/terraform.tfstate*
/helm/terraform.tfstate*
/helm/.terraform*
/.terraform*
/.idea*

# Ignore Terraform state files
/.terraform/
/helm/.terraform/

/*.plan
/helm/*.plan
/helm/*.retry
/*.retry
/*.pem
/helm/*.pem
kubeconfig*
/helm/kubeconfig*
/helm/consul-helm/
/helm/efktemp/
/helm/all-in-one.yaml

